$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan : hsl(167, 40%, 24%);  //(graphic design text)
$darkBlue : hsl(198, 62%, 26%); //(photography text)
$darkModerateCyan : hsl(168, 34%, 41%); //(footer)
$brightModerateCyan : hsl(168, 44%, 70%); //(footer)


$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$Barlow: 'Barlow', sans-serif;
$Fraunces: 'Fraunces', serif;

$desktop-screen:"800px";

@mixin media-minwidth($screensize){
    @media (min-width:$screensize) {
       @content;
     }
 }


body {
    font-family: $Barlow;
    color:$veryDarkGrayishBlue;
    width:100%;
    margin:0;
}

.burgerMenu {
    display:none;
}

header{
    background-image: url("images/image-header.jpg");
    background-position: center;
    background-size: cover;
    height:538px;
    text-transform:uppercase;
    color:$white;

    
    .topBar {
        display:flex;
        justify-content:space-between;
        padding:32px 24px 0 24px;
        align-items:center;
        @include media-minwidth($desktop-screen){
            padding:34px 48px 0 40px;
        }

        &__burger{
            @include media-minwidth($desktop-screen){
                display:none;
            }
        }

        &__menu{
            display:none;

            @include media-minwidth($desktop-screen){
                width:470px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family: $Barlow;
                font-weight: 600;
                font-size:18px;

                &__element{
                    cursor:pointer;
                }

                &__contactButton{
                    font-family: $Fraunces;
                    font-weight: 700;
                    font-size:15px;
                    line-height: 25px;
                    letter-spacing: -0.1px;
                    color :$veryDarkDesaturatedBlue;
                    background-color:$white;
                    border-radius:28px;
                    padding:16px 30px 15px 32px;
                    transition:all .3s;
                }

                &__contactButton:hover{
                    color:$white;
                    background-color: rgba(255,255,255, 0.2537);;
                }
            }
        }

        &__logo:hover {
            cursor:pointer;
        }

        &__burger:hover{
            cursor:pointer;
        }
    }

    h1{
        margin-top:88px;
    }
    
    .arrowDown{
        display:block;
        margin:auto;
        margin-top:52px;
    }
}

h1{
    font-family: $Fraunces;
    letter-spacing: 6.25px;
    font-weight: 900;
    font-size:40px;
    text-align: center;
}

h2{
    font-family:$Fraunces;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.23px;
    text-align: center;
    color:$veryDarkDesaturatedBlue;
}

a, a:visited{
    font-family:$Fraunces;
    color:$veryDarkDesaturatedBlue;
    font-size:15px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    border-radius:5px;
    position:relative;
}

a::after, a:visited::after{
    content:"";
    z-index:-1;
    width:114%;
    height:10px;
    border-radius:28px;
    background-size:cover;
    position:absolute;
    bottom:-3px;
    left:-7%;
    opacity:0.25;
}


p{
    font-family: $Barlow;
    font-weight: 600;
    font-size:18px;
    letter-spacing: -0.13px;
    line-height: 30px;
}

.article{

    @include media-minwidth($desktop-screen){
        display:flex;
        flex-direction:row;
        width:100%;
        
    }

    &__illustration{
        width:100%;
        @include media-minwidth($desktop-screen){
            width:50%;
        }

        &--transform{
            @include media-minwidth($desktop-screen){
                order:1;
            }
        }
    }

    &__textBlock{

        &--transform{
            @include media-minwidth($desktop-screen){
                
                
            }
        }

        &--standOut{

        }

        @include media-minwidth($desktop-screen){
            width:50%;
        }

        &__title{
            margin:64px 24px 0 24px;
            @include media-minwidth($desktop-screen){
                margin-top:0px;
                margin-right:0px;
                margin-left:0px;
                text-align: left;
                margin-left:23%;
                padding-right:15%;
                margin-top :26%;
            }
        }
        &__text{
            margin:24px;
            text-align:center;
            @include media-minwidth($desktop-screen){
                margin-right:0px;
                margin-left:0px;
                text-align: left;
                margin-left:23%;
                padding-right:15%;
            }
        }
        &__more{
            text-align:center;
            margin-top:8px;
            margin-bottom:64px;
            @include media-minwidth($desktop-screen){
                margin-bottom:0px;
                text-align: left;
                margin-left:13%;
            }
    
            &__redirect:hover{
                .article__textBlock__more__link::after{
                    opacity:1;
                }
            }
            &--transform::after{
                background-color:$yellow;
            }
            &--standOut::after{
                background-color:$softRed;
            }
            }
    }
    
    }


    .messages{
        @include media-minwidth($desktop-screen){
            display:flex;
            flex-direction: row;
        }
    }

    .message{
        height:600px;
        background-position:center;
        margin:0;
        background-size:cover;
        display:flex;
        flex-direction:column;

        @include media-minwidth($desktop-screen){
            width:50%;
            
        }

        justify-content:flex-start;
        align-items:center;
        &--graphicDesign{
            background-image:url("images/image-graphic-design.jpg");
            color:$darkDesaturatedCyan;
        }
        &--photography{
            background-image:url("images/image-photography.jpg");
            color:$darkBlue;
        }

        &__title{
            font-family: $Fraunces;
            font-weight:900;
            font-size:28px;
            letter-spacing: -0.2px;
            text-align: center;
            padding-top:398px;
        }
        &__text{
            text-align:center;
            font-size:16px;
            font-weight:600;
            letter-spacing: -0.11px;
            line-height: 27px;
            padding-left: 24px;
            padding-right:24px;

            padding-bottom:59px;
            
        }
    }
    
    .testimonials{
        background-color:$white;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:0px;

        @include media-minwidth($desktop-screen){
            flex-direction: row;
            padding-left:165px;
            padding-right:165px;
            margin-bottom: 0px;
        }

        

        &__blocks{
            display:flex;
            flex-direction: column;
            align-items: center;
            @include media-minwidth($desktop-screen){
                display:flex;
                flex-direction:column;
                text-align: center;
            }
        }
        
        &__title{
            font-family: $Fraunces;
            font-size:16px;
            font-weight:900;
            font-style: normal;
            letter-spacing:4px;
            text-transform: uppercase;
            margin:64px 24px 0 24px;
            color:$grayishBlue;
            text-align: center;
            @include media-minwidth($desktop-screen){
                margin-top:160px;
            }
        }
        &__picture{
            width:72px;
            border-radius:100%;
            margin-top:64px;
            margin-bottom:32px;
            @include media-minwidth($desktop-screen){
                margin:auto;
                margin-top:81px;
                margin-bottom:58px;
            }
        }
        &__text{
            text-align:center;
            padding-left: 24px;
            padding-right:24px;
            font-weight: 600;
            font-size: 18px;;
            line-height: 32px;
            letter-spacing: -0.13px;
        }
        &__signature{
            font-family: $Fraunces;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: -0.13px;
            font-style: normal;
            color:$veryDarkDesaturatedBlue;
            margin-top:32px;
            @include media-minwidth($desktop-screen){
                margin-top:69px;
            }
        }
        &__rank{
            font-weight: 600;
            font-size:14px;
            line-height:25px;
            letter-spacing: -0.1px;
            margin-top:9px;
            color:$grayishBlue;
        }
    }

    footer{
        margin-top:86px;
        background-color:$brightModerateCyan;
        @include media-minwidth($desktop-screen){
            margin-top:160px;
        }

        .footerPictures{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &__picture{
                width:50%;
                aspect-ratio: 1/1;
                background-position: center;
                background-size: cover;
                @include media-minwidth($desktop-screen){
                    width:25%;
                    height:447px;
                }

                &--milkBottles{
                    background-image: url("images/image-gallery-milkbottles.jpg");
                }
                &--orange{
                    background-image: url("images/image-gallery-orange.jpg");
                }
                &--iceCone{
                    background-image: url("images/image-gallery-cone.jpg");
                }
                &--sugarCubes{
                    background-image: url("images/image-gallery-sugarcubes.jpg");
                }
            }
        }

        .footer__logo{
            display:block;
            height:33px;
            margin:auto;
            margin-top:64px;
            margin-bottom:40px;
            filter: invert(38%) sepia(53%) saturate(421%) hue-rotate(118deg) brightness(60%) contrast(92%);
            @include media-minwidth($desktop-screen){
                margin-top:72px;
            }
        }

        .footerInfos{   
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin:0px;

            &__title{
                margin-top:0px;
                margin-bottom:88px;
                font-size: 18px;
                letter-spacing:-0.13px;
                line-height: 25px;
                font-style:normal;
                color:$darkModerateCyan;
            }

            &__title:hover{
                cursor:pointer;
                filter:grayscale(1) brightness(100%) contrast(100) invert(1);
            }

            &__contacts{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                margin:0;
                margin:auto;
                padding-bottom:80px;
                width:164px;
                height:20px;
                @include media-minwidth($desktop-screen){
                    padding-bottom: 72px;
                }

                &__icon:hover{
                    cursor:pointer;
                    filter:grayscale(1) brightness(100%) contrast(100) invert(1);
                }
            }
        }

    }


